Django==4.0
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
phonenumberslite==8.13.27
pillow==10.2.0
python-dotenv==1.0.0
requests==2.31.0
validators==0.22.0
whitenoise==6.6.0
django-debug-toolbar==4.2.0
drf-yasg==1.21.7
django-cors-headers==4.3.1
mysql-connector-python==8.3.0